# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.production

# Node / React
node_modules/
dist/
build/
.npm/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# Logs
*.log
npm-debug.log*